
<!-- 
<nav class="navbar navbar-expand-lg nav-container fixed-top ">
    <div class="navbar-brand">
        <a  href="/dashboard" >
            <i class="fas fa-dice-d20"></i>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto float-right">
        <li class="nav-item">
            <a href="" class="nav-link">Messagerie</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Messagerie</a>
        </li>
        <li class="nav-item">
            <a href="/users/logout" class="nav-link">Logout</a>
        </li>
       
        
      </ul>
    </div>
  </nav>
<p class="lead mb-3">Welcome <%= user.name%></p> -->

<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><i class="fas fa-dice-d20"></i></a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a href="/users/logout" class="nav-link">Logout</a>
    </li>
    <li class="nav-item text-nowrap">
      <a href="#" class="nav-link">Profil</a>
    </li>
  </ul>
  
</nav> -->
<html class="dashboard-full">
  <nav class="navbar navbar-expand-lg nav-container fixed-top ">
 
    <a class="navbar-brand" href="/dashboard/"><i class="fas fa-dice-d20"></i></a>

  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon my-toggler"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto float-right">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#profilModal">
          
          Compte
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pricing">
          
          Catalogue
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#inboxModal">
          Messagerie <span class="badge badge-pill bg-light align-text-bottom">0</span>
        </a>
        
      </li>
      <!-- <li class="nav-item">
        <a href="" class="nav-link">Activités</a>
    </li>
      <li class="nav-item">
          <a href="" class="nav-link">Profil</a>
      </li>
      <li class="nav-item">
          <a href="" class="nav-link">Messagerie</a>
      </li> -->
      <li class="nav-item">
          <a href="/logout" class="nav-link">Déconnexion</a>
      </li>
     
      
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item alt">
            <a class="nav-link active alt-sidebar-title" href="#">
              Menu 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#profilModal">
              <i class="far fa-user"></i>
              Compte
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="#" data-toggle="modal" data-target="#inboxModal">
              <i class="far fa-envelope"></i>

              Messagerie <span class="badge badge-pill bg-light align-text-bottom">0</span>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">
              <i class="fab fa-buromobelexperte"></i>          
                 Catalogue
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-shopping-cart"></i>
             Mes commandes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="far fa-question-circle"></i>
              Besoin d'aide?
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Accés</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-chart-line"></i>
               Rapports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-history"></i>
              Historique d'Activités
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-lock"></i>
              Sécurité
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="fas fa-sign-out-alt"></i> 
              Déconnexion
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class=" ml-sm-auto  col-lg-10 px-4 dashboard-full">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        
        <p class="lead mb-3 mt-5">Bienvenue<strong>  <%= user.name%></strong></p> 
         <!--Weather Widget-->
        <div class="btn-toolbar mb-2 mb-md-0">
          <div id="openweathermap-widget-23" class=""></div>
        </div>
        <!--END Weather Widget-->
      </div>

      
      <!-- FEED SECTION -->

      <div class="alt-project-container row border-bottom pb-5 mb-2">


        <!--POST Item-->
        <div class="offset-md-3 col-md-2 mt-3">
          <div class="alt-project-item">
            <div class="post-news-title text-center font-alt ">
              <a href="" target="_blank" data-toggle="modal" data-target="#profilModal"><strong>Compte</strong>  </a>
          </div>
          <div class="post-prev-img">
              <a href="" target="_blank" data-toggle="modal" data-target="#profilModal">
                  <img src="../public/images/puzzle.jpg" alt="" class="img-fluid" data-target="#profilModal" >
              </a>
          </div>
          <div class="post-prev-text">
            <a href="" data-toggle="modal" data-target="#profilModal"><%= user.name %></a>
               </div>
               <!--modal-->
               <div class="modal fade " id="profilModal" tabindex="-1" role="dialog" aria-labelledby="profilModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content modal-section">
                        <div class="modal-header">
                            <h5 class="modal-title modal-title-item" id="profilModalLabel">Mon compte</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="">
                                <!--    
                                <label for="number">Your Phone Number</label>
                                <input type="number" class="form-control" name="usename" placeholder="">
                                <label for="email">Your Email</label>
                                <input type="email" class="form-control" name="email" placeholder="">
                            -->
                            <div class="row">
                              <div class="col-md-10 alt-account-info">
                                <label for="" class="mb-3"><strong><%= user.name%></strong> </label>
                                <br>
                                <label for="number">Téléphone:</label>
                                <p class="">
                                  <a href="0<%= user.number%>">0<%= user.number%></a>
                                </p>
                                <label for="">E-mail:</label>
                                <p class="">
                                  <a href="laskri.mounir@gmail.com"><%= user.email%></a>
                                </p>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-10">
                                
                              </div>
                            </div>
                                <div class="alt-modalUser-contact border-top">
                                  <label for=""><strong>Connectez vos comptes:</strong></label>
                                  <br>
                                  <ul>
                                    <li class="">
                                      <a class="" href=""><i class="fab fa-google"></i></a>
                                      <a class="" href=""><i class="fab fa-facebook-f"></i></a>
                                      <a class="" href=""><i class="fab fa-stack-overflow"></i></a>
                                      <a class="" href=""><i class="fab fa-gitlab"></i></a>
                                      <a class="" href=""><i class="fab fa-github"></i></a>
                                      <a class="" href=""><i class="fab fa-linkedin"></i></a>
                                      <a class="" href=""><i class="fab fa-codepen"></i></a>
                                      
                                        
                                    </li>
                                  </ul>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
          </div>
        </div>
        <!--END POST Item-->
        <!--END POST Item-->

        <!-- POST Item-->
        <div class=" col-md-2 mt-3">
          <div class="alt-project-item">
            <div class="post-news-title text-center font-alt ">
              <a href="#" target="_blank" data-toggle="modal" data-target="#inboxModal"><strong>Messagerie</strong></a>
          </div>
          <div class="post-prev-img">
              <a href="" target="_blank" data-toggle="modal" data-target="#inboxModal">
                  <img src="../public/images/writer.jpg" alt="" class="img-fluid" >
              </a>
          </div>


          <div class="post-prev-text">
            <div class="post-prev-text">
              <a href="" data-toggle="modal" data-target="#inboxModal">Reçus: </a><span class="badge badge-pill bg-light align-text-bottom">0</span>
                 </div>
               </div>

                    <!--Modal-->
                    <div class="modal fade alt-modal-container" id="inboxModal" tabindex="-1" role="dialog" aria-labelledby="inboxModalLabel" aria-hidden="true">
                          <div class="modal-content modal-dialog modal-section">
                              <div class="modal-header">
                                  <h3 class="modal-title modal-title-item" id="inboxModalLabel"><strong>Messages reçus :</strong>  <span class="badge badge-pill bg-light align-text-bottom">0</span></h3>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              </div>
                              <div class="modal-body">
                                <h4 class="modal-title modal-title-item" id="inboxModalLabel">Envoyez un message:</h4>

                                <form action="/users/inbox" method="POST">
                                  <!-- Information DATA not displayed on front -->
                                  <div class=" form-group mt-4 alt-general-input" style="display: none;">
                                    <input type="text" id="name" name="name" class="form-control alt-general-input " placeholder="name"
                                      value="<%= user.name%>" />
                                    <input type="text" id="email" name="email" class="form-control alt-general-input " placeholder="email"
                                      value="<%= user.email %>" />
                                    <input type="number" id="number" name="number" class="form-control alt-general-input " placeholder="number"
                                      value="<%= user.number %>" />
                                  </div>
                                  <!-- END  Information DATA not displayed on front -->
                                    <br>
                                    <label for="">A : </label>
                                    <div class="checkbox mb-1 mt-1">
                                        <input type="checkbox" value="remember-me"> <label for=""><strong>Service client </strong><span>(contact@gmail.com)</span></label>
                                    </div>


                                    
                                  <div class="form-group">
                                    <label for="object"> <strong>L'objet de votre message:</strong></label>
                                    <input 
                                    type="text" 
                                    id="object"
                                    name="object"
                                    class="form-control alt-general-input " 
                                    placeholder="Objet"
                                    value="<%= typeof object != 'undefined' ? object : '' %>" 
                                    />
                                    <br>
                                    <label for="message"><strong>Votre message:</strong> </label>
                                    <textarea 
                                    type="text"
                                    name="message" 
                                    id="message" 
                                    cols="30" rows="3" class="form-control alt-general-input "
                                    placeholder="Ecrivez ici..."
                                    value="<%= typeof message != 'undefined' ? message : '' %>"
                                    ></textarea>
                                  </div>
                                  
                                  <div class="form-group">
                                    <input type="submit" value="Envoyer Message" class="btn  btn-block  alt-register-btn">
                                  </div>

                                  </div>
                                  
                                </form>
                              </div>
      
                          </div>
                      <!-- END Modal -->
                  </div>
          </div>
            <!--POST Item-->
        <div class=" col-md-2 mt-3">
          <div class="alt-project-item">
            <div class="post-news-title text-center font-alt ">
              <a href="#pricing" ><strong>Catalogue</strong></a>
          </div>
          <div class="post-prev-img">
              <a href="#pricing" >
                  <img src="../public/images/cubes1.jpg" alt="" class="img-fluid" >
              </a>
          </div>
          <div class="post-prev-text">
            <a href="#pricing"  data-target="">Offres</a>
               </div>
          </div>
        </div>
        <!--END POST Item-->
        </div>
        
        
        
        
        
     
        <!--END POST Item-->
        <!--POST Item-->
        
       
        <!--END POST Item -->

        <div class="container mt-5 border-bottom pb-5">
          <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>

        </div>


         <!--PRICING SECTION -->
         
         
        
        <!--SHOPPING SECTION-->
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="pricing">
          <h1 class="display-4">Les offres actuelles</h1>
          <p class="lead">Profitez des offres adaptés a vos besoins:</p>
        </div>
        <div class="container">
          <!--Shopping Item-->
                     <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Basic</h4>
              </div>
              <div class="post-prev-img">
                <a href="" target="_blank">
                    <img src="../public/images/appleWatch.jpg" alt="" class="img-fluid" >
                </a>
            </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">0 € <small class="text-muted">/ mois</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>2 utilisateurs</li>
                  <li>Stockage : 600 Mo</li>
                  <li>-</li>
                  <li>Assistant 24h/7</li>
                  <li>-</li>
                  <li>-</li>
                  
                </ul>
                <button type="button" class="btn  btn-block alt-general-btn">Commencer</button>
              </div>
            </div>
                    <!--End Shopping Item-->
         
            <!--Shopping Item-->
                    <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
              </div>
              <div class="post-prev-img">
                <a href="" target="_blank">
                    <img src="../public/images/proPack.jpg" alt="" class="img-fluid" >
                </a>
            </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"> 4.99 € <small class="text-muted">/ mois</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>5 utilisateurs</li>
                  <li>Stockage:3 Go </li>
                  <li>-</li>
                  <li>Assistant 24h/7</li>
                  <li>30 E-mails/jour</li>
                  <li>-</li>
                </ul>
                <a href="payment" class="btn btn-block alt-general-btn mb-2">Acheter</a>
              </div>
            </div>
                    <!--End Shopping Item-->
            
    
            <!--Shopping Item-->
                     <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Premium</h4>
              </div>
              <div class="post-prev-img">
                <a href="" target="_blank">
                    <img src="../public/images/premiumPack.jpg" alt="" class="img-fluid" >
                </a>
            </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">10.99 € <small class="text-muted">/ mois</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>12 utilisateurs</li>
                  <li>Stockage:10 Go</li>
                  <li>Accés a la DB</li>
                  <li>Assistant 24h/7</li>
                  <li>E-mails illimités</li>
                  <li>-</li>
                </ul>
                <a href="payment" class="btn btn-block alt-general-btn mb-2">Acheter</a>
              </div>
            </div>
                    <!--End Shopping Item-->
    
                   <!--Shopping Item-->
                   <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Entreprise</h4>
                    </div>
                    <div class="post-prev-img">
                      <a href="" target="_blank">
                          <img src="../public/images/companyPack.jpg" alt="" class="img-fluid" >
                      </a>
                  </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">24.99 € <small class="text-muted">/ mois</small></h1>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>Utilisateurs illimités</li>
                        <li>Stockage : 100 Go</li>
                        <li>Accés a la DB</li>
                        <li>Assistant 24h/7</li>
                        <li>E-mails illimités</li>
                        <li>Integration API</li>
                      </ul>
                      <a href="payment" class="btn btn-block alt-general-btn mb-2">Acheter</a>
                    </div>
                  </div>
                          <!--End Shopping Item-->
    
            
    
    
                        
          </div>
        
    
        </div>
    <!--END PRICING SECTION -->
    
        <!--END SHOPPING SECTION-->
    
   

<!-- FOOTER/CONTACT SECTION-->
<!--FOOTER Section-->
<footer class="page-section container-fluid border-top" id="footer">
  <div class="row footer-big mt-3">
      <!-- Grid Footer row -->
          <!-- Grid Footer column -->
          <div class="col-md-3 ">
            
          </div>
          <!-- End Grid Footer column -->
          <!-- Grid Footer column -->
          <div class="col-md-3">
            <div class="footer-menu">
                
              <h5 class="alt-footer-subtitle font-alt mb-4 ">
                  Contact:
              </h5>
              <ul class="nav flex-column mb-2">
                <li class="">
                  <a class="nav-link" href="#">
                    <i class="fas fa-phone"></i>
                    +33 (0) 6 51 75 84 89
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="#">
                    <i class="fas fa-paper-plane"></i>
                    mounir.laskri@gmail.com
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="#">
                    <i class="fas fa-hand-point-right"></i>
                   mounirlaskri.com
                  </a>
                </li>
                <li class="">
                  <a class="" href="" >
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="" href="" ><i class="fab fa-linkedin"></i></a>
                  <a class="" href="" ><i class="fab fa-codepen"></i></a>
                  
                    
                </li>
              </ul>
          </div>
              <!-- Links -->
          </div>
          <!-- End Grid Footer column -->
          <!-- Grid Footer column -->
          <div class="col-md-3 ">
            <div class="footer-menu">
                
              <h5 class="alt-footer-subtitle font-alt mb-4 ">
                  Pratiques:
              </h5>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#profilModal">
                    <i class="far fa-user"></i>
                    Compte
                  </a>
                </li>
                <li class="nav-item">
                  
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#inboxModal">
                    <i class="far fa-envelope"></i>
      
                    Messagerie 
                  </a>
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pricing">
                    <i class="fab fa-buromobelexperte"></i>          
                       Catalogue
                  </a>
                </li>
              </ul>
          </div>
             
              <!-- Links -->
          </div>
          <!-- End Grid Footer column -->
          <!-- Grid Footer column -->
          <div class="col-md-3 ">
            
              <!-- Links -->
          </div>
          <!-- End Grid Footer column -->
          <!-- Grid Footer column -->
          <div class="container-fluid footer-copyright text-center mb-1">
              <!-- Copyright -->
                  <p>
                      © 2020<a href="index.html"> LoginPassport</a>. All rights reserved. Created by<a href="https://github.com/Mounir247" target="_blank"> Laskri Mounir</a>
                  </p>
              <!-- End Copyright -->
          </div>
      <!-- End Grid Footer column -->
</div>
</footer>
</div>
<!--FOOTER Section-->
  <!--END FOOTER/CONTACT SECTION-->


</html>

